.root {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #b1a68d;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #b1a68d;

      &:hover {
        background-color: #b1a68d;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #b1a68d;
        color: #fff;
      }
    }
  }
}